<!-- modal -->
<div class="modal" id="modal">
    <div class="modal-container">
        <div class="close-btn">&times;</div>
        <div class="form-modal sign-up-modal">
            <form action="#">
                <h1>Create Account</h1>
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <div class="social-buttons">
                    <a href="#" class="icn-social" aria-label="Sign in with Google"><img
                            src="/src/assets/images/google.png" alt="Google"></a>
                    <a href="#" class="icn-social" aria-label="Sign in with Apple"><img
                            src="/src/assets/images/apple-logo.png" alt="Apple"></a>
                    <a href="#" class="icn-social" aria-label="Sign in with Facebook"><img
                            src="/src/assets/images/facebook.png" alt="Facebook"></a>
                </div>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-modal sign-in-modal">
            <form action="#">
                <h1>Sign in</h1>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <div class="social-buttons">
                    <a href="#" class="icn-social" aria-label="Sign in with Google"><img
                            src="/src/assets/images/google.png" alt="Google"></a>
                    <a href="#" class="icn-social" aria-label="Sign in with Apple"><img
                            src="/src/assets/images/apple-logo.png" alt="Apple"></a>
                    <a href="#" class="icn-social" aria-label="Sign in with Facebook"><img
                            src="/src/assets/images/facebook.png" alt="Facebook"></a>
                </div>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-modal">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <img src="/src/assets/images/logo.png" alt="Logo" class="panel-logo">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your
                        personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <img src="/src/assets/images/logo.png" alt="Logo" class="panel-logo">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with
                        us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

